[Unit]
Description=OpenNebula XMLRPC service to provide VNC proxy tokens
After=syslog.target network.target
After=opennebula-sunstone.service
PartOf=opennebula-sunstone.service
ReloadPropagatedFrom=opennebula-sunstone.service

[Service]
Type=simple
Group=oneadmin
User=oneadmin
ExecStartPre=-/usr/sbin/logrotate -f /etc/logrotate.d/vnctoken -s /var/lib/one/.logrotate.status
ExecStart=/usr/bin/ruby /usr/lib/one/vnctoken/vnctoken-server.rb
StartLimitInterval=60
StartLimitBurst=3
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
